@model IEnumerable<Areas.SunshineAttack.Models.LocalizeTypes.TypePrompt>
@{
    ViewBag.Title = "Index";
}
@foreach (var prompt in Model)
{
    <tr>
        <td>@prompt.LocaleId</td>
        <td>@prompt.Namespace.@prompt.TypeName.@prompt.TextName</td>
        <td>@prompt.TranslatedText</td>
    </tr>
}